src/data/contracts/crm_company_contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  CRM → Facturatie: Company synchronisatie contracten
  Integration Project 2025/2026 | Groep 2

  Bron: CRM Master Schema v1.1

  Scope (inkomend vanuit CRM naar Facturatie):
  - Contract 14: crm.company.confirmed  → <CompanyConfirmed>
  - Contract 19: crm.company.updated    → <CompanyUpdated>
  - Contract 23: crm.company.deactivated → <CompanyDeactivated>

  Geen targetNamespace — queue XML-berichten bevatten geen namespace-declaraties.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           version="1.0">

  <!-- ============================================================
       GEDEELDE SIMPLE TYPES
  ============================================================ -->

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ISO8601DateTimeType">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
      <xs:maxLength value="254"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BelgianVatNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="BE[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================
       CONTRACT 14 — CRM → Facturatie: company confirmed (nieuw bedrijf)
       Queue: crm.company.confirmed | durable: true
       Root:  <CompanyConfirmed>
  ============================================================ -->
  <xs:element name="CompanyConfirmed">
    <xs:complexType>
      <xs:sequence>
        <!-- CRM UUID — wordt gebruikt als primaire sleutel (id) in Facturatie -->
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="vatNumber"   type="BelgianVatNumberType"/>
        <xs:element name="name"        type="xs:string"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="confirmedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 19 — CRM → Facturatie: company updated (volledig object)
       Queue: crm.company.updated | durable: true
       Root:  <CompanyUpdated>
  ============================================================ -->
  <xs:element name="CompanyUpdated">
    <xs:complexType>
      <xs:sequence>
        <!-- CRM UUID — lookup sleutel in Facturatie -->
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="vatNumber"   type="BelgianVatNumberType"/>
        <xs:element name="name"        type="xs:string"/>
        <!-- Optionele velden: aanwezig bij volledig object -->
        <xs:element name="email"       type="EmailType"        minOccurs="0"/>
        <xs:element name="phone"       type="xs:string"        minOccurs="0"/>
        <xs:element name="street"      type="xs:string"        minOccurs="0"/>
        <xs:element name="houseNumber" type="xs:string"        minOccurs="0"/>
        <xs:element name="postalCode"  type="xs:string"        minOccurs="0"/>
        <xs:element name="city"        type="xs:string"        minOccurs="0"/>
        <xs:element name="country"     type="CountryCodeType"  minOccurs="0"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="updatedAt"   type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 23 — CRM → Facturatie: company deactivated (soft delete)
       Queue: crm.company.deactivated | durable: true
       Root:  <CompanyDeactivated>

       Consumergedrag:
       - isActive = false zetten (soft delete, NOOIT hard deleten)
       - Bestaande facturen en historiek behouden
  ============================================================ -->
  <xs:element name="CompanyDeactivated">
    <xs:complexType>
      <xs:sequence>
        <!-- CRM UUID — lookup sleutel in Facturatie -->
        <xs:element name="id"            type="UUIDType"/>
        <xs:element name="vatNumber"     type="BelgianVatNumberType"/>
        <xs:element name="deactivatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
