src/data/contracts/facturatie_user_contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Facturatie -> CRM user synchronization contracts
  Integration Project 2025/2026 | Groep 2

  Scope:
  - facturatie.user.created (manual customer created in FOSSBilling)
  - facturatie.user.updated (existing CRM-linked contact updated from Facturatie)

  Notes:
  - No targetNamespace to match queue XML payload style used in this project.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           version="1.1">

  <!-- ============================================================
       SHARED SIMPLE TYPES
  ============================================================ -->

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ISO8601DateTimeType">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
      <xs:maxLength value="254"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FacturatieUserRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VISITOR"/>
      <xs:enumeration value="COMPANY_CONTACT"/>
      <xs:enumeration value="SPEAKER"/>
      <xs:enumeration value="EVENT_MANAGER"/>
      <xs:enumeration value="CASHIER"/>
      <xs:enumeration value="BAR_STAFF"/>
      <xs:enumeration value="ADMIN"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================
       SCENARIO 1
       Queue: facturatie.user.created | durable: true
       Direction: Facturatie -> CRM
       Use case: manual customer created in FOSSBilling, request CRM UUID assignment.
  ============================================================ -->
  <xs:element name="UserCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="facturatieCustomerId" type="xs:string"/>
        <xs:element name="registrationId"       type="xs:string" minOccurs="0"/>
        <xs:element name="firstName"            type="xs:string"/>
        <xs:element name="lastName"             type="xs:string"/>
        <xs:element name="email"                type="EmailType"/>
        <xs:element name="phone"                type="xs:string" minOccurs="0" nillable="true"/>
        <xs:element name="role"                 type="FacturatieUserRoleType"/>
        <xs:element name="companyId"            type="UUIDType"  minOccurs="0" nillable="true"/>
        <xs:element name="createdAt"            type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       SCENARIO 2
       Queue: facturatie.user.updated | durable: true
       Direction: Facturatie -> CRM
       Use case: update an existing CRM-linked contact with full object fields.
  ============================================================ -->
  <xs:element name="UserUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="firstName"   type="xs:string"/>
        <xs:element name="lastName"    type="xs:string"/>
        <xs:element name="phone"       type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="street"      type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="houseNumber" type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="postalCode"  type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="city"        type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="country"     type="CountryCodeType" minOccurs="0" nillable="true"/>
        <xs:element name="role"        type="FacturatieUserRoleType"/>
        <xs:element name="companyId"   type="UUIDType"        minOccurs="0" nillable="true"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="updatedAt"   type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       SCENARIO 3
       Queue: facturatie.user.deactivated | durable: true
       Direction: Facturatie -> CRM
       Use case: request CRM to deactivate an existing linked contact.
  ============================================================ -->
  <xs:element name="UserDeactivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"            type="UUIDType"/>
        <xs:element name="email"         type="EmailType"/>
        <xs:element name="deactivatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>