src/data/contracts/kassa_contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Kassa Contract Schema — Contract K-01
  Integration Project 2025/2026 | Groep 2

  Bron: Team Kassa contractoverzicht (K-01)
  Queue: kassa.invoice.requested (durable: true)
  Exchange: kassa.topic

  Dit schema valideert het <InvoiceRequested> bericht dat Kassa stuurt
  naar Facturatie wanneer een bestelling gekoppeld is aan een bedrijf.
  Deduplicatiesleutel: orderId
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           version="1.0">

  <!-- ============================================================
       GEDEELDE SIMPLE TYPES (overgenomen van Kassa master schema)
  ============================================================ -->

  <!-- UUID v4 patroon -->
  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ISO 8601 datumtijd -->
  <xs:simpleType name="ISO8601DateTimeType">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <!-- Enkel EUR toegelaten als valuta -->
  <xs:simpleType name="CurrencyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EUR"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Bedrag mag niet negatief zijn -->
  <xs:simpleType name="NonNegativeAmountType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================
       GEDEELDE COMPLEX TYPES
  ============================================================ -->

  <!-- Eén bestellijn: product, aantal en eenheidsprijs -->
  <xs:complexType name="OrderItemType">
    <xs:sequence>
      <xs:element name="productName" type="xs:string"/>
      <xs:element name="quantity"    type="xs:positiveInteger"/>
      <xs:element name="unitPrice"   type="NonNegativeAmountType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================
       CONTRACT K-01 — Kassa → Facturatie: factuurverzoek bedrijfstransactie
       Queue:    kassa.invoice.requested | durable: true
       Exchange: kassa.topic
       Root:     <InvoiceRequested>

       Businessregels:
       - orderId is de deduplicatiesleutel: dubbele berichten worden genegeerd
       - Alleen bedrijfsgebonden bestellingen komen via dit contract
       - Privépersonen betalen ter plaatse en komen niet via dit contract
  ============================================================ -->
  <xs:element name="InvoiceRequested">
    <xs:complexType>
      <xs:sequence>
        <!-- Unieke order-id op Kassa-niveau, deduplicatiesleutel -->
        <xs:element name="orderId"          type="xs:string"/>

        <!-- CRM user UUID — komt overeen met het 'aid' veld in de client tabel -->
        <xs:element name="userId"           type="UUIDType"/>

        <!-- CRM company UUID — komt overeen met het 'id' veld in de company tabel -->
        <xs:element name="companyId"        type="UUIDType"/>

        <!-- Totaalbedrag van de bestelling -->
        <xs:element name="amount"           type="NonNegativeAmountType"/>

        <!-- Valuta (altijd EUR in dit project) -->
        <xs:element name="currency"         type="CurrencyType"/>

        <!-- Tijdstip van de bestelling in UTC -->
        <xs:element name="orderedAt"        type="ISO8601DateTimeType"/>

        <!-- Bestelregels: minstens 1 item verplicht -->
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" type="OrderItemType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!-- Optionele velden voor context en traceerbaarheid -->
        <xs:element name="email"            type="xs:string"  minOccurs="0"/>
        <xs:element name="companyName"      type="xs:string"  minOccurs="0"/>
        <xs:element name="eventId"          type="xs:string"  minOccurs="0"/>
        <xs:element name="paymentReference" type="xs:string"  minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
