src/data/contracts/user_data_contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  CRM Master Schema — Alle contracts (1–32)
  Integration Project 2025/2026 | Groep 2
  Versie 1.4 — April 2026

  Bron: crm-asyncapi-v1.yaml (AsyncAPI 3.1.0, v1.8.0)

  Gebruik: runtime-validatie via lxml in Python.

  Geen targetNamespace — XML-berichten op de queue bevatten
  geen namespace-declaraties (zie crm-asyncapi-v1.yaml voorbeelden).
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           version="1.4">

  <!-- ============================================================
       GEDEELDE SIMPLE TYPES
  ============================================================ -->

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ISO8601DateTimeType">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
      <xs:maxLength value="254"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BelgianVatNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="BE[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UserRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VISITOR"/>
      <xs:enumeration value="COMPANY_CONTACT"/>
      <xs:enumeration value="SPEAKER"/>
      <xs:enumeration value="EVENT_MANAGER"/>
      <xs:enumeration value="CASHIER"/>
      <xs:enumeration value="BAR_STAFF"/>
      <xs:enumeration value="ADMIN"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Restrictieve rol-enum voor Contract 1 (alleen VISITOR/COMPANY_CONTACT) -->

  <xs:simpleType name="FacturatieUserRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VISITOR"/>
      <xs:enumeration value="COMPANY_CONTACT"/>
      <xs:enumeration value="SPEAKER"/>
      <xs:enumeration value="EVENT_MANAGER"/>
      <xs:enumeration value="CASHIER"/>
      <xs:enumeration value="BAR_STAFF"/>
      <xs:enumeration value="ADMIN"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================
       CANONIEKE COMPLEX TYPES
       Master data owner: CRM.
       Niet direct als root element — elk contract heeft zijn eigen root.
  ============================================================ -->

  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element name="id"          type="UUIDType"/>
      <xs:element name="firstName"   type="xs:string"/>
      <xs:element name="lastName"    type="xs:string"/>
      <xs:element name="email"       type="EmailType"/>
      <xs:element name="phone"       type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="street"      type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="houseNumber" type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="postalCode"  type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="city"        type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="country"     type="CountryCodeType"     minOccurs="0" nillable="true"/>
      <xs:element name="companyId"   type="UUIDType"            minOccurs="0" nillable="true"/>
      <xs:element name="role"        type="UserRoleType"/>
      <xs:element name="badgeCode"   type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="isActive"    type="xs:boolean"/>
      <xs:element name="gdprConsent" type="xs:boolean"/>
      <xs:element name="createdAt"   type="ISO8601DateTimeType"/>
      <xs:element name="updatedAt"   type="ISO8601DateTimeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CompanyType">
    <xs:sequence>
      <xs:element name="id"               type="UUIDType"/>
      <xs:element name="name"             type="xs:string"/>
      <xs:element name="vatNumber"        type="BelgianVatNumberType"/>
      <xs:element name="street"           type="xs:string"/>
      <xs:element name="houseNumber"      type="xs:string"/>
      <xs:element name="postalCode"       type="xs:string"/>
      <xs:element name="city"             type="xs:string"/>
      <xs:element name="country"          type="CountryCodeType"/>
      <xs:element name="email"            type="EmailType"/>
      <xs:element name="phone"            type="xs:string"    minOccurs="0" nillable="true"/>
      <xs:element name="primaryContactId" type="UUIDType"     minOccurs="0" nillable="true"/>
      <xs:element name="isActive"         type="xs:boolean"/>
      <xs:element name="createdAt"        type="ISO8601DateTimeType"/>
      <xs:element name="updatedAt"        type="ISO8601DateTimeType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================
       CONTRACT 24 — Facturatie → CRM: user aanmaken
       Queue: facturatie.user.created | durable: true
  ============================================================ -->
  <xs:element name="UserCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="facturatieCustomerId" type="xs:string"/>
        <xs:element name="registrationId"       type="xs:string" minOccurs="0"/>
        <xs:element name="firstName"            type="xs:string"/>
        <xs:element name="lastName"             type="xs:string"/>
        <xs:element name="email"                type="EmailType"/>
        <xs:element name="phone"                type="xs:string" minOccurs="0" nillable="true"/>
        <xs:element name="role"                 type="FacturatieUserRoleType"/>
        <xs:element name="gdprConsent"          type="xs:boolean"/>
        <xs:element name="companyId"            type="UUIDType"  minOccurs="0" nillable="true"/>
        <xs:element name="createdAt"            type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 3 — Frontend → CRM: nieuw bedrijf aanmaken
       Queue: frontend.company.created | durable: true
  ============================================================ -->
  <xs:element name="CompanyCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name"        type="xs:string"/>
        <xs:element name="vatNumber"   type="BelgianVatNumberType"/>
        <xs:element name="email"       type="EmailType"      minOccurs="0"/>
        <xs:element name="phone"       type="xs:string"      minOccurs="0"/>
        <xs:element name="street"      type="xs:string"      minOccurs="0"/>
        <xs:element name="houseNumber" type="xs:string"      minOccurs="0"/>
        <xs:element name="postalCode"  type="xs:string"      minOccurs="0"/>
        <xs:element name="city"        type="xs:string"      minOccurs="0"/>
        <xs:element name="country"     type="CountryCodeType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 5a — Facturatie → CRM: bedrijfsdata opvragen
       Queue: facturatie.company.requested | durable: true
  ============================================================ -->
  <xs:element name="CompanyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId" type="xs:string"/>
        <xs:element name="vatNumber" type="BelgianVatNumberType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 5b — CRM → Facturatie: bedrijfsdata response
       Queue: crm.company.responded | durable: false
  ============================================================ -->
  <xs:element name="CompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId"   type="xs:string"/>
        <xs:element name="found"       type="xs:boolean"/>
        <xs:element name="id"          type="UUIDType"             minOccurs="0"/>
        <xs:element name="name"        type="xs:string"            minOccurs="0"/>
        <xs:element name="vatNumber"   type="BelgianVatNumberType" minOccurs="0"/>
        <xs:element name="email"       type="EmailType"            minOccurs="0"/>
        <xs:element name="phone"       type="xs:string"            minOccurs="0"/>
        <xs:element name="street"      type="xs:string"            minOccurs="0"/>
        <xs:element name="houseNumber" type="xs:string"            minOccurs="0"/>
        <xs:element name="postalCode"  type="xs:string"            minOccurs="0"/>
        <xs:element name="city"        type="xs:string"            minOccurs="0"/>
        <xs:element name="country"     type="CountryCodeType"      minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 13 — CRM → consumers: user confirmed
       Queue: crm.user.confirmed | durable: true
  ============================================================ -->
  <xs:element name="UserConfirmed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="firstName"   type="xs:string"/>
        <xs:element name="lastName"    type="xs:string"/>
        <xs:element name="phone"       type="xs:string"  minOccurs="0"/>
        <xs:element name="role"        type="UserRoleType"/>
        <xs:element name="companyId"   type="UUIDType"   minOccurs="0"/>
        <xs:element name="badgeCode"   type="xs:string"  minOccurs="0"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="gdprConsent" type="xs:boolean"/>
        <xs:element name="confirmedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

<!-- ============================================================
     CONTRACT 14 — CRM → consumers: company confirmed
     Queue: crm.company.confirmed | durable: true
============================================================ -->
  <xs:element name="CompanyConfirmed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="vatNumber"   type="BelgianVatNumberType"/>
        <xs:element name="name"        type="xs:string"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="phone"       type="xs:string"       minOccurs="0"/>
        <xs:element name="street"      type="xs:string"/>
        <xs:element name="houseNumber" type="xs:string"/>
        <xs:element name="postalCode"  type="xs:string"/>
        <xs:element name="city"        type="xs:string"/>
        <xs:element name="country"     type="CountryCodeType"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="confirmedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 15 — CRM → Controlroom+Frontend: user conflict (fanout)
       Exchange: crm.user.conflict | type: fanout | durable: true
  ============================================================ -->
  <xs:element name="UserConflict">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="email" type="EmailType"/>
        <xs:element name="existingValue">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="firstName" type="xs:string"/>
              <xs:element name="lastName"  type="xs:string"/>
              <xs:element name="company"   type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="incomingValue">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="firstName" type="xs:string"/>
              <xs:element name="lastName"  type="xs:string"/>
              <xs:element name="company"   type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="detectedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 18 — CRM → consumers: user updated
       CONTRACT 25 — Facturatie → CRM: user updated
       Queue: crm.user.updated / facturatie.user.updated | durable: true
       Noot: gedeelde root met order-onafhankelijke veldvalidatie.
  ============================================================ -->
  <xs:element name="UserUpdated">
    <xs:complexType>
      <xs:all>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="firstName"   type="xs:string"/>
        <xs:element name="lastName"    type="xs:string"/>
        <xs:element name="phone"       type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="street"      type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="houseNumber" type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="postalCode"  type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="city"        type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="country"     type="CountryCodeType" minOccurs="0" nillable="true"/>
        <xs:element name="role"        type="FacturatieUserRoleType"/>
        <xs:element name="companyId"   type="UUIDType"        minOccurs="0" nillable="true"/>
        <xs:element name="badgeCode"   type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="gdprConsent" type="xs:boolean"/>
        <xs:element name="updatedAt"   type="ISO8601DateTimeType"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 19 — CRM → consumers: company updated
       Queue: crm.company.updated | durable: true
  ============================================================ -->
  <xs:element name="CompanyUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="vatNumber"   type="BelgianVatNumberType"/>
        <xs:element name="name"        type="xs:string"/>
        <xs:element name="email"       type="EmailType"       minOccurs="0"/>
        <xs:element name="phone"       type="xs:string"       minOccurs="0"/>
        <xs:element name="street"      type="xs:string"       minOccurs="0"/>
        <xs:element name="houseNumber" type="xs:string"       minOccurs="0"/>
        <xs:element name="postalCode"  type="xs:string"       minOccurs="0"/>
        <xs:element name="city"        type="xs:string"       minOccurs="0"/>
        <xs:element name="country"     type="CountryCodeType" minOccurs="0"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="updatedAt"   type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 21 — CRM → Facturatie: factuurverzoek privépersoon
       Queue: crm.invoice.requested | durable: true
  ============================================================ -->
  <xs:element name="InvoiceRequested">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userId"      type="UUIDType"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="firstName"   type="xs:string"/>
        <xs:element name="lastName"    type="xs:string"/>
        <xs:element name="street"      type="xs:string"/>
        <xs:element name="houseNumber" type="xs:string"/>
        <xs:element name="postalCode"  type="xs:string"/>
        <xs:element name="city"        type="xs:string"/>
        <xs:element name="country"     type="CountryCodeType"/>
        <xs:element name="requestedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 22 — CRM → consumers: user deactivated (GDPR)
       CONTRACT 26 — Facturatie → CRM: user deactivated
       Queue: crm.user.deactivated / facturatie.user.deactivated | durable: true
  ============================================================ -->
  <xs:element name="UserDeactivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"            type="UUIDType"/>
        <xs:element name="email"         type="EmailType"/>
        <xs:element name="deactivatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 23 — CRM → consumers: company deactivated
       Queue: crm.company.deactivated | durable: true
  ============================================================ -->
  <xs:element name="CompanyDeactivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"            type="UUIDType"/>
        <xs:element name="vatNumber"     type="BelgianVatNumberType"/>
        <xs:element name="deactivatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>